:root {
  --primary: #fff;
  --secondary: #000;
}

.dark-mode {
  background-color: var(--secondary);
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-text-size-adjust: none;
  background-color: var(--primary);
  color: var(--secondary);
  /* background: linear-gradient(145deg, #4F7CFE 0%,#800080 100%); */
  }

h1 {
  text-align: center;
}

a {
  color: inherit;
}
/* moving cloud img behind text animation */
.cloud-text {
    font-family: 'Passion One', cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -webkit-text-stroke-width: .1px;
    background-image: url(/resources/styles/black-clouds.jpg);
    background-size: auto;
    background-position: 0%;
    font-size: 80px;
    text-align: center;
    animation: cloud-movement infinite 50s;
    animation-timing-function: linear;
    border-image: radial-gradient(circle, rgb(120, 120, 120) 33%, rgba(255,255,255,1)100%) 20;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    padding: 0 10px;
    margin: 20px 10px 0 10px;
    letter-spacing: 1px;
}

.small-cloud {
  text-align: left;
  font-size: 30px;
  margin-top: -20px;
}

@keyframes cloud-movement {
    0% {
        background-position: 100%;  
    }
    50% {
        background-position: 50%;  
    }
    100% {
        background-position: 25%;
    }    
}

.main-container {
    display: flex;
    padding-bottom: 2.5rem;
    flex-direction: column;
  }

header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 2% 2% 2% 0;
}

nav a {
  padding: 0 20px;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 silver;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  margin-right: 10px;
  border-radius: 5px;
}

nav a:hover {
  box-shadow: inset 100px 0 0 0#000;  
  color: var(--primary);
  border-radius: 5px;
}

/* dark mode button in nav */
nav button {
  border: none;
  color: inherit;
  background-color: transparent;
}

.subtext {
  width: 100%;
  height: 50%;
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: linear-gradient(45deg, #fff, #393939);
  color: var(--primary);;
  box-shadow: 4px 8px 6px -4px #bbb;
}

.subtext li:nth-child(even) {
  padding: 0 12px;
}

#main-page {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  align-items: center;
  vertical-align: middle;
  padding-top: 75px;
}

/* small screen resizing */
@media (max-width:475px) { 
  #main-page {
    height: 75vh;
  }
  #main-page ul {
    flex-wrap: wrap;
  }
  #main-page li {
    flex-wrap: wrap;
  }
  .footer-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 6%;
  }
}

/* footer */

.footer-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
  min-height: 8vh;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-email{
  display: block;
  margin: 0;
}

.footer-email span {
  display: none;
}

tel {
  display: none;
}