* {
    margin: 0;
    padding: 0;
}
  
html {
    height: 100%;
    width: 100%;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;
}

h1 {    
    background-color: #000;
}

h2 {
    color: #fff;
    background-color: #3E5479;
    border-top: 4px solid #71829D;
    border-bottom: 4px solid#71829D;
    padding: 2% 0;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    background-image: url('/claudescookbook/img/flowers.jpeg');
    background-repeat: repeat-x;
    background-position-x: 70%;
    background-position-y: 64%;
}

.nav-ul {
    width: 100vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    padding: 2%;
}

.nav-header {
    font-size: 18px;
    width: 35vh;
    color: #fff;
}

.nav-ul a {
    text-decoration: none;
    color: #fff;
}

.about-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    width: 100%;
}

.about-main {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
}

#sketch {
    width: 100%;
    height: 55%;
    min-height: 50px;
    float: right;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: silver;
}

p {
    min-height: 50px;
    float: right;
    padding: 1% 2%;
}

footer {
    color: #fff;
    position: fixed;
    background-color: #3E5479;
    border-top: 4px solid #71829D;
    width: 100%;
    height: 2vh;
    padding-top: 1%;
    padding-bottom: 3%;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    align-content: center;
}

/* On smaller screens, decrease width */
@media only screen and (max-width: 600px) {
    header {
        width: 100%;
        background-position-x: 45%;
    }
    .nav-ul {
        margin-left: 2%;
    }
    .about-body p {
        padding: 1% 8%;
    }
    .about-main {
        flex-direction: column;
    }
    img {
        padding-top: 5%;
    }
}