.body {
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;

}

header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: 10px;
}

.nav-ul a {
    text-decoration: none;
    color: #000;
}

h1 {
    text-align: center;
    margin-top: -10px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 10px 5px;
    margin-left: 5px;
}

h2 {
    margin-top: -10px;
}

#recipe-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    justify-content: center;
    text-align: center;
}

.recipes {
    border-radius: 10px;
}

.recipes li{
    display:none;
}

.recipes li.active{
    display:initial;
}

ul .list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: -40px;
    vertical-align: text-top;
}

.list li {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    padding-top: 2px;
    margin-left: -30px;
    overflow-wrap: break-word;
    list-style-position: inside;

}

.list li:first-child {
    padding-top: 8px;
}

.list:last-child {
    padding-bottom: 8px;
}

.list li input {
    overflow-wrap: break-word;
}

.directions-list .direction{
    text-align: left;
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 10px;
}
li.ingredient {
    display: inline;
}

li.ingredient span {
    padding-right: 3px;
}

.ingredient-amount {
    display: none;
}

input[type="checkbox"] {
    background-color: blue;
}

#og-yield {
    display: none;
}

.yield-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.value-button {
    display: inline-block;
    background: #bfbfbf;
    border: 1px solid black;
    width: 25px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
 
}

.value-button#decrease {
    margin-left: 10px;

}

.value-button:hover {
    cursor: pointer;
}

form #yield {
    width: auto;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    min-width: 30px;
    max-width: 50px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}