body {
    width: 100%;
    /* background-image: url(img/castiron.jpeg); */
    background-color: #fff;
    color: #000;
}

a {
    color: #000;
}

header {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: 40px;
}

.nav-ul a {
    text-decoration: none;
}

h1 {
    /* font-family: "Fasthand", cursive; */
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 62px;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 25px;
    /*-webkit-text-stroke: .75px black;*/
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
    margin: 10px 10px -20px 10px;
}

.button-container button {
    background-color: #bfbfbf;
    border-radius: 10px;
    padding: 5px 12px;
    color: #000;
}

h2 {
    /* font-family: "Fasthand", cursive; */
    margin-top: -35px;
    margin-bottom: 10px;

}

.second-line {
    border: 2px solid #000;
    padding: 4px 0;
    margin: 0 10px;
}

main {
    width: auto;
    height: auto;
    border: 1px solid #000;
    background-image: url(img/full_paper.png);
    background-position: -20px;
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

.outline {
    background-color: #fff;
    background-image: url(img/full_paper.png);
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -10px;

}

#recipe-container {
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    justify-content: center;
    text-align: center;
}

.recipes {
    border-radius: 10px;
}

.recipes li{
    display:none;
}

.recipes li.active{
    display:initial;
}

ul .list {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: -25px;
    padding-right: 1px;
    vertical-align: text-top;
}

.list li {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    padding-top: 2px;
    margin-left: -30px;
    overflow-wrap: break-word;
    list-style-position: inside;

}

.list li:first-child {
    padding-top: 8px;
}

.list:last-child {
    padding-bottom: 8px;
}

.list li input {
    overflow-wrap: break-word;
}

.directions-list .direction{
    text-align: left;
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 10px;
}
li.ingredient {
    display: inline;
}

li.ingredient span {
    padding-right: 3px;
}

.ingredient-amount {
    display: none;
}

input[type="checkbox"] {
    background-color: blue;
}

.og-yield {
    display: none;
}

.yield-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.value-button {
    display: inline-block;
    background: #bfbfbf;
    border: 2px solid black;
    width: 25px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    border-radius: 4px;
 
}

.value-button#decrease {
    margin-left: 10px;

}

.value-button:hover {
    cursor: pointer;
}

.yield-output {
    width: auto;
    min-width: 30px;
    max-width: 50px;
    text-align: center;
    padding-top: 4px;
    background-color: #ffffff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}