* {
    margin: 0;
    padding: 0;
}
  
html,
body {
    height: 100%;
}

body {  
    width: 100%;
    height: 100%;
    color: #000;
    overflow-x: hidden;
}

.outline {
    margin-left: -1%;
}

a {
    color: #000;
}

/* header */
header {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 4px solid rgba(199, 73, 73, 0.774);
    border-bottom: 4px solid #3e5479bb;
    align-items: center;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.nav-header {
    font-size: 18px;
    width: 70vh;
}

.nav-ul a {
    text-decoration: none;
}

.nav-ul-right {
    width: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.title-img {
    width: 100%;
    height: 90.5vh;
    position: relative;
    background-color:#3E5479;
    border-bottom: 4px solid #71829D;
}

h1 {
    /* font-family: "Fasthand", cursive; */
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 62px;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    position: absolute;
    top: 40%;
    padding-top: 1%;  
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

#sketch {
    width: 100%;
    height: 90.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch img {
    border-radius: 1%;
    height: 76vh;
}

/* navigation buttons */
.buttons-container {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 25px;
    position: absolute;
    align-self: center;
}

.arrow {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    border: solid 3px #000;
    background-color: #fff;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s linear;
}

.left.arrow:before {
    content: "";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:45%;
    background: #000;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: all .1s linear;
}

.left.arrow:after {
    content: "";
    position: absolute;
    width:35%;
    height: 10%;
    z-index: 3;
    top:59%;
    left:45%;
    background: #000;
    transform: translate(-50%, -50%) rotate(45deg);
}

.right.arrow:before {
    content: "";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:55%;
    background: #000;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .1s linear;
}

.right.arrow:after {
    content:"";
    position: absolute;
    width:35%;
    height: 10%;
    z-index: 3;
    top:59%;
    left:55%;
    background: #000;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.arrow:hover {
    border: solid 4px #000;
}

.arrow:hover:before {
    background: #000;
}

.arrow:hover:after {
    background: #000;
}

h2 {
    text-align: center;
}

/* recipe container */
h3 {
    font-family: 'Mrs Saint Delafield', cursive;
    text-align: center;
    font-size: 40px;
    background-color: #fff;
    padding-top: 10px;
}

main {
    background-color: #efece2;
    min-height: 95vh;
    height: fit-content;
    width: auto;
}

#recipe-container {
    /* background-image: url(img/full_paper.png); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 2%;
}

.recipes {
    padding-left: 2%;

}

.recipes li {
    display: none;
}

.recipes li.active {
    display: initial;
}

ul .list {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    vertical-align: text-top;
    padding-left: 2%;
    margin-left: -2%;

}

.list li {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    padding-top: 2px;
    overflow-wrap: break-word;
    list-style-position: inside;

}

.list-container em {
    font-weight: 900;
}

.list li:first-child {
    padding-top: 8px;
}

.list:last-child {
    padding-bottom: 8px;
}

.list li input {
    overflow-wrap: break-word;
}

.directions-list .direction{
    text-align: left;
    display: list-item;
    list-style-type: decimal;
    list-style-position: inside;
}

.direction::marker {
    font-weight: bold;
}

.list-container {
    text-align: left;
}

li.ingredient {
    display: inline;
}

li.ingredient span {
    padding-right: 3px;
}

.ingredient-amount {
    display: none;
}

input[type="checkbox"] {
    background-color: blue;
    margin-right: 4px;
}

.values-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* On smaller screens, decrease width */
@media only screen and (max-width: 400px) {
    .nav-ul {
        width: 100%;
        justify-content: space-between;

    }
    .nav-header {
        width: 100%;
    }
    .values-div
    {
        flex-direction: row;
        justify-content: center;
    }
    .increment-div {
        padding-left: 5%;
    } 
}

.og-yield, .og-increment {
    display: none;
}

.yield-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.increment-div p {
    font-size: 12px;
    display: none;
}

.yield-output-container {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-left: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px; 
}

.increment-output-container {
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-left: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 4px; 
}

.value-button {
    display: inline-block;
    background: #bfbfbf;
    border: 2px solid black;
    width: 30px;
    height: 28px;
    text-align: center;
    padding-top: 2px;
    margin: -2px;
}

.value-button:hover {
    cursor: pointer;
}

.yield-output, .increment-output {
    width: fit-content;
    min-width: 40px;
    max-width: 60px;
    text-align: center;
    padding-top: 6px;
}

.value-button#decrease {
    border-radius: 4px 0 0 4px; 
}

.value-button#increase {
    border-radius: 0 4px 4px 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    color: #fff;
    background-color: #3E5479;
    border-top: 4px solid #71829D;
    width: 100%;
    height: 2vh;
    padding: 1% 0;
    bottom: -8px;
    text-align: center;
    font-size: 12px;
}