body {
    -webkit-text-size-adjust: none;
   background-color: #ffffff;
   display: block;
}

/* moving cloud img behind text animation */
.cloud-text {
    font-weight: 900px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
    background-image: url(/styles/black-clouds.jpg);
    background-size: auto;
    background-position: 0%;
    font-size: 40px;
    text-align: center;
    animation: cloud-movement infinite 250s;
    animation-timing-function: linear;
}
@keyframes cloud-movement {
    0% {
        background-position: 0%;  
    }
    50% {
        background-position: 100%;  
    }
    100% {
        background-position: 0%;
    }    
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* room for footer calculated in min-height */
.main-container {
    width: 100%;
    min-height: calc(75vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
    color: purple;
}
  
/* mouse over link */
a:hover {
    color: black;
}
  
/* selected link */
a:active {
    color: green;
}

/* project panel */
.project-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: center;
    justify-content: space-evenly;
}
.project-container h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
    margin-bottom: 5px;
}

.teaching-projects-div {
    height: auto;
    width: 45%;
    border: 4px solid rgb(220, 220, 220);
    border-radius: 10px;
    padding-bottom: 3%;
}

.personal-projects-div {
    height: auto;
    width: 45%;
    border: 4px solid rgb(220, 220, 220);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 5%;
}

.wol {
    display: flex;
    flex-direction: row;
}

.wol div {    
    padding-left: 12px;
}

.wol h4 {
    font-weight: 500;
}

.wol-links {
    padding-top: 9px;
    text-align: left;
}

#projects-ul {
    display: none;
    list-style: none;
}

button {
    display: absolute;
    width: 150px;
    margin-bottom: 5px;
}

/* graph panel */
.graph-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%; 
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

#web-dev-languages {
    width: 85%;
    margin-left: 8%;
    justify-content: space-evenly;
}
/* radial chart */
.computer-language-radial-chart {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 1px;
}

.outer {
    height:65px;
    width: 65px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15), 2px 2px 4px 1px rgba(255,255,255,0.7);
}

.inner {
    height:50px;
    width: 50px;
    margin: 6px 6px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 2px -1px rgba(0,0,0,0.5), inset -1px -1px 2px -1px rgba(255,255,255,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

h4 {
    font-size: 15px;
    font-weight: 600;
}

circle {
    fill: none;
    stroke-width: 7px;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
}
.circle-cpp {
    animation: radialanimationcpp 2s linear forwards;
}
#circle-c {
    animation: radialanimationc 2s linear forwards;
}
#circle-java {
    animation: radialanimationjava 2s linear forwards;
}
.circle-js {
    animation: radialanimationjs 2s linear forwards;
}
#circle-py {
    animation: radialanimationpy 2s linear forwards;
}
.circle-sql {
    animation: radialanimationsql 2s linear forwards;
}
#circle-html {
    animation: radialanimationhtml 2s linear forwards;
}
#circle-css {
    animation: radialanimationcss 2s linear forwards;
}
#circle-bootstrap {
    animation: radialanimationbootstrap 2s linear forwards;
}
#circle-git {
    animation: radialanimationgit 2s linear forwards;
}
@keyframes  radialanimationcpp {
    100% {
        stroke-dashoffset: 220;
    }
}
@keyframes  radialanimationc {
    100% {
        stroke-dashoffset: 270;
    }
}
@keyframes  radialanimationjava {
    100% {
        stroke-dashoffset: 240;
    }
}
@keyframes  radialanimationjs {
    100% {
        stroke-dashoffset: 255;
    }
}
@keyframes  radialanimationpy {
    100% {
        stroke-dashoffset: 230;
    }
}
@keyframes  radialanimationsql {
    100% {
        stroke-dashoffset: 250;
    }
}
@keyframes  radialanimationhtml {
    100% {
        stroke-dashoffset: 190;
    }
}
@keyframes  radialanimationcss {
    100% {
        stroke-dashoffset: 200;
    }
}
@keyframes  radialanimationbootstrap {
    100% {
        stroke-dashoffset: 250;
    }
}
@keyframes  radialanimationgit {
    100% {
        stroke-dashoffset: 230;
    }
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

/* footer */
footer {
    max-width: 100%;
    height: 50px;
    font-size: 12px;
    display: inline-flex;
    flex-direction: row;
    align-self: center;
}

address, cp {
    display: inline-flex;
    align-self: center;
    padding-left: 20px;

}

tel {
    padding-left: 20px;
}
